body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #fff; 
    margin: 0;
}

header {
    background-color: #0a0; 
    padding: 10px;
    position: sticky;
    text-align: center;
    width: 100%;
    margin: 0;
    top: 0;
    display: block;
    z-index: 1000;
    
    
}

header h1 {
    color: #ff0; 
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

nav a {
    color: #fff; 
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ff0; 
}

main {
    padding: 20px;
}

article {
    background-color: #111; 
    border: 1px solid #0a0; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    color: #0a0; 
    margin-top: 0;
}

article h3 {
    color: #0a0; 
    margin-top: 0;
}

article p {
    line-height: 1.6;

}

footer{
    text-align: center;
    background-color: #0a0; 
    padding: 20px;

}

@media (max-width: 600px) {
    header h1 {
font-size: 1.5em;
    }
    
    nav a {
display: block;
    margin: 10px 0;
    }
    
    article {
    padding: 15px;
    }
}

.img-container {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 100%;
}

.foto1{
    width: auto;
    max-width: auto;
    height: 300px;
    border-radius: 10px; 
    border: 2px solid #0a0; 
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin-right: 50px;
    
}
#logo{
    height: 100px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    float: left;
}
@media (max-width: 360px) {
    iframe{
        height: 150px;
        width: 250px;
    }
    .foto1{
        height: 250px;
        width: 250px;
        align-self: center;
    }
    body{
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: small;
    }
}