body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 0;
}

header {
    background-color: #0a0; /* Verde oscuro */
    padding: 7px;
    position: sticky;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    
}

header h1 {
    color: #ff0; /* Amarillo */
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

nav a {
    color: #fff; /* Blanco */
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ff0; /* Amarillo */
}

main {
    padding: 20px;
}

article {
    background-color: #111; /* Negro más claro para contraste */
    border: 1px solid #0a0; /* Borde verde */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    color: #0a0; /* Verde */
    margin-top: 0;
}

article h3 {
    color: #0a0; /* Verde */
    margin-top: 0;
}

article p {
    line-height: 1.6;

}

footer{
    text-align: center;
    background-color: #0a0; /* Verde oscuro */
    padding: 20px;

}

@media (max-width: 600px) {
    header h1 {
font-size: 1.5em;
    }
    
    nav a {
display: block;
    margin: 10px 0;
    }
    
    article {
    padding: 15px;
    }
}

.img-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.foto1{
    width: 500px;
    max-width: 100%;
    height: 370px;
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #0a0; /* Borde verde */
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    margin: 30px;
}

